
@{
    ViewData["Title"] = "View2";
}
@model TryingMyBestApp.Models.FormData

<h1>View2</h1>
<h4 style="color:purple">
    <b>ID:</b>    @ViewBag.email <br />
    <b>Name:</b>  @ViewBag.password <br />
</h4>

